{{ define "main" }}
<div class="section">
    <div class="container has-text-centered">
        <h1 class="title is-6">ARE YOU A</h1><br>
        <a href="/client" class="button">New Client</a>
        <a href="/client" class="button" title="nonmember returning clients">Returning Client</a>
        <a href="/member" class="button">Member</a>
    </div>
</div>
<div class="section">
    <div class="container">
    <div class="service-list-container">
        <div class="columns is-multiline has-text-centered">
            
            {{ range .Pages }}

            <div class="column is-4">
                <div class="card-services card-content">
                    <h4 class="subtitle is-6">{{ .Title }}</h4>
                    <hr>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic illum voluptatem, aut quae sus</p>
                    <br>
                    <a href="{{ .Permalink }}" class="button">Read</a>
                </div>            
            </div>
        {{ end }}
        </div>

    </div>
</div>
</div>
{{ end }}