{{ define "main" }}

<div class="section">
    <div class="container">
        <div class="columns">
            
            <div class="column is-8">
                
                <div class="content notification">
                    <img src="{{ .Params.featured_image }}" alt="">
                    <h1>{{.Title}}</h1>
                    <!-- Start Square Appointments Embed Code --><script src='https://squareup.com/appointments/buyer/widget/3inwjh1kpbskrr/6NG934GTKR8Z2.js'></script><!-- End Square Appointments EmbedCode -->
                </div>
            </div>
            <div class="column">
                {{ partial "sidebar.html" . }}
            </div>
        </div>

    </div>
</div>

{{ end }}