---
new_page_extension: md
auto_deploy: false
admin_path: "/static/admin"
webhook_url: 
sections:
- type: directory
  path: content/services
  label: My Services
  create: documents
  match: "**/*"
  templates:
  - services
- type: heading
  label: Services
- type: document
  path: data/profile.yaml
  label: My Profile
- type: document
  path: data/design.yaml
  label: Design
- type: heading
  label: Pages
- type: directory
  path: content
  label: Add Page
  create: all
  match: "*"
- type: heading
  label: Default Pages
- type: document
  path: content/about/_index.md
  label: About
- type: document
  path: content/contact/_index.md
  label: Contact
- type: heading
  label: Blog
- type: directory
  path: content/blog
  label: Add Post
  create: documents
  match: "**/*"
  templates:
  - blog
- type: heading
  label: Help
- type: document
  path: data/icons.json
  label: Developer Icon Access
  read_only: true
upload_dir: static/uploads
public_path: "/uploads"
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
build:
  preview_env:
  - HUGO_ENV=staging
  - HUGO_VERSION=0.69.0
  preview_output_directory: public
  preview_docker_image: forestryio/hugo:latest
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: hugo server -D -E -F --port 8080 --bind 0.0.0.0 --renderToDisk
    -d public
version: 0.69.0
