<div class="section">
    <div class="container">
        <div class="columns agent-row">
            <div class="column has-text-centered">
                <img src="{{ .Site.Data.profile.profile_photo }}" alt="{{ .Site.Data.profile_image_alt_tag }}" class="agent-photo">
                <h3 class="title is-4">{{ .Site.Data.profile.primary_contact.full_name }}</h3>
                <a href="tel:{{ .Site.Data.profile.primary_contact.phone_number}}">{{ .Site.Data.profile.primary_contact.phone_number }}</a><br>
                <a href="mailto:{{ .Site.Data.profile.primary_contact.email }}">{{ .Site.Data.profile.primary_contact.email }}</a>
            </div>
            <div class="column content">
                <h3 class="title is-4">Meet John Pagani, Your Broker</h3>
                <h5 class="subtitle is-5">From our brokers to our agents – our entire team has your back</h5>
                {{ .Site.Data.design.agent.agent_bio | markdownify }}
            </div>
    </div>
</div>
</div>