<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <img src="" alt="">
                <h3 class="title is-4">John Pagani</h3>
                <a href="tel:">(562) 324-4345</a>
                <a href="mailto:">john@wallstrealty.com</a>
            </div>
            <div class="column">
                <h3 class="title is-4">Meet John Pagani, Your Broker</h3>
                <h5 class="subtitle is-3">From our brokers to our agents – our entire team has your back</h5>
                <p class="content">Have you been told that slaving away, working 60+ hours a week is the key to a successful career in real estate? Maybe you’ve also been told you’ve got to have the charisma of Marlon Brando or the hustle of Gary Keller to make it in this industry.

                    At Wallstreet Realty, we see things differently.
                    
                    It’s not about how many hours you can squeeze in. It’s about making sure those hours are spent efficiently in attracting leads and making deals – while being paid well for doing so.
                    
                    As one of our agents, you’ll benefit from the live personal development coaching, real estate training, and supportive team environment to make for a balanced, well-rounded career.
                    
                    So, interested in becoming a high-income real estate agent – without the burn-out or running around in circles?
                    
                    We’d love to hear from you.</p>
            </div>
        </div>
    </div>
</div>