<div class="feature-section">
    <div class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h2 class="title is-4">100% COMMISSION - ZERO FEES</h2>
                    <p>No sneaky monthly fees. No NAR, CAR, or association dues. Get 100% commission and pay a reasonable flat rate fee of $700 per deal. We’ll pay you via Escrow – and you’ll be covered by E&O insurance up to $1 million in case you make an error during the transaction.</p>
                </div>
                <div class="column">
                    <h2 class="title is-4">LEAD GENERATION & MARKETING SUPPORT</h2>
                    <p>Get a steady supply of vetted, high-quality local leads. We’ll also supply you with beautifully-branded marketing materials like open house flyers, high-quality listing photography, and more.</p>
                </div>
                <div class="column">
                    <h2 class="title is-4">TRAINING & PERSONAL DEVELOPMENT</h2>
                    <p>Benefit from weekly broker meetings, live training, and group coaching with Danny Wood to grow your skills as a real estate agent. Overcome limiting beliefs and develop the ideal mindset for success with monthly transformational training and free scripts from Mike Ferry, renowned real estate coach.</p>
                </div>
            </div>
        </div>
    </div>
</div>