<footer class="footer">
  <div class="container">
    <div class="columns has-text-centered">
      <div class="column">
        <h1>COMPLETE MUSCLE THERAPY</h1>
        <address>6310 Golden Gate Dr. Corona CA, 92882</address>
        <p>555-555-5555</p>
        <div class="footer-social">
          <ul>
            <li>Facebook</li>
            <li>Instagram</li>
            <li>Email</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="bottom-footer">
  <p>Privacy Policy and website design by Hungry Ram</p>
</div>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="js/slick.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>

  </body>
  </html>