<footer>
  <div class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h3 class="title is-3">Get in Touch</h3>
          <h5 class="subtitle is-4">Wallstreet is not a good fit if you...</h5>
          <ul>
            <li>Just want somewhere to hang your license</li>
            <li>Don’t want personal and professional growth</li>
            <li>Have a negative, self-limiting attitude</li>
          </ul>
        </div>
        <div class="column">
          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input class="input" type="text" placeholder="Text input">
            </div>
          </div>
          
          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input class="input" type="email" placeholder="Email input">
            </div>
          </div>

          
          <div class="field">
            <label class="label">Message</label>
            <div class="control">
              <textarea class="textarea" placeholder="Textarea"></textarea>
            </div>
          </div>
          
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="{{ .Site.BaseURL }}js/slick.min.js"></script>
  <script type="text/javascript" src="{{ .Site.BaseURL }}js/main.js"></script>

  </body>
  </html>