<footer class="footer">
  <div class="container">
    <div class="columns has-text-centered">
      <div class="column">
        {{ with .Site.Data.profile.primary_contact.logo }}
        <img src="{{ . }}" alt="" width="200">
            {{ else }}
        <h1>{{ .Site.Data.profile.primary_contact.company_name }}</h1>
            {{ end }}
        {{ with .Site.Data.profile.address }}<address>{{ .address }} {{ .city }}, {{ .state }} {{ .zip_code }}</address>{{ end }}
        {{ with .Site.Data.profile.primary_contact }}<p>{{ .phone_number }}</p>{{ end }}
        {{ with .Site.Data.profile.primary_contact }}<p>{{ .email }}</p>{{ end }}
        <div class="footer-social">
          <ul>
            {{ if .Site.Data.profile.social.instagram }}<li><a href="{{ .Params.instagram }}"><i class="fab fa-instagram"></i></a></li>{{ end }}
            {{ if .Site.Data.profile.social.facebook }}<li><a href="{{ .Params.facebook }}"><i class="fab fa-facebook-f"></i></a></li>{{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="bottom-footer">
  <div class="columns has-text-centered">
    <div class="column">
      <p>Privacy Policy Designed by Hungry Ram</p>
    </div>
  </div>
</div>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="js/slick.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>

  </body>
  </html>