<div class="section icon-cta">
    <div class="container">
        <div class="columns has-text-centered">
            <div class="column">
                <h2 class="title is-4">NOT JUST ANOTHER BROKERAGE</h2>
                <p>Who said fun and hard work don’t go together?</p>
            </div>
        </div>
        <div class="columns has-text-centered">
            <div class="column">
                <i class="fas fa-users fa-4x"></i>
                <h3 class="title is-4">20 + SATISFIED AGENTS</h3>
            </div>
            <div class="column">
                <i class="fas fa-hand-holding-usd fa-4x"></i>
                <h3 class="title is-4">100% COMMISSION</h3>
            </div>
            <div class="column">
                <i class="fas fa-user-tag fa-4x"></i>
                <h3 class="title is-4">100S OF LEADS</h3>
            </div>
        </div>
    </div>
</div>