<div class="review-section">
    <div class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-half">
                    <h2 class="title is-3">OUR AGENTS LOVE WORKING WITH US</h2>
                    <p class="content">They joined for the great commission split. They stuck around for the culture.</p>
                    <div class="review-slider">
                        <div>                           
                            <figure class="image is-128x128">
                                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                            </figure>
                            <p class="content">I really enjoy being a Broker Associate for Wallstreet Realty. I have the type of freedom that I would have with my own brokerage in every facet of my business, but I have the E&O general liability, and resources of a larger company backing me. I am a working broker, and being free of some of the admin makes it easier for me to get out and sell. John is a major support and he truly understands what challenges agents and brokers face, and accommodates accordingly. I am very pleased!</p>
                            <h4 class="title is-5">Bianca Miramontes</h4>
                        </div>
                        <div>                           
                            <figure class="image is-128x128">
                                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                            </figure>
                            <p class="content">I really enjoy being a Broker Associate for Wallstreet Realty. I have the type of freedom that I would have with my own brokerage in every facet of my business, but I have the E&O general liability, and resources of a larger company backing me. I am a working broker, and being free of some of the admin makes it easier for me to get out and sell. John is a major support and he truly understands what challenges agents and brokers face, and accommodates accordingly. I am very pleased!</p>
                            <h4 class="title is-5">Bianca Miramontes</h4>
                        </div>
                        <div>                           
                            <figure class="image is-128x128">
                                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                            </figure>
                            <p class="content">I really enjoy being a Broker Associate for Wallstreet Realty. I have the type of freedom that I would have with my own brokerage in every facet of my business, but I have the E&O general liability, and resources of a larger company backing me. I am a working broker, and being free of some of the admin makes it easier for me to get out and sell. John is a major support and he truly understands what challenges agents and brokers face, and accommodates accordingly. I am very pleased!</p>
                            <h4 class="title is-5">Bianca Miramontes</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>