<div class="review-section" style="background: url({{ .Site.Data.design.review_section.review_background_image }}) no-repeat center;background-size: cover">
    <div class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-half">
                    <h2 class="title is-3">OUR AGENTS LOVE WORKING WITH US</h2>
                    <p class="content">They joined for the great commission split. They stuck around for the culture.</p>
                    <div class="review-slider">
                        <div>                           
                            <figure class="image is-128x128">
                                <img class="is-rounded" src="{{ .Site.BaseURL }}uploads/agents-img-1.jpg">
                            </figure>
                            <p class="content">I really enjoy being a Broker Associate for Wallstreet Realty. I have the type of freedom that I would have with my own brokerage in every facet of my business, but I have the E&O general liability, and resources of a larger company backing me. I am a working broker, and being free of some of the admin makes it easier for me to get out and sell. John is a major support and he truly understands what challenges agents and brokers face, and accommodates accordingly. I am very pleased!</p>
                            <h4 class="title is-5">Eric Medrano -Realtor</h4>
                        </div>
                        <div>                           
                            <figure class="image is-128x128">
                                <img class="is-rounded" src="{{ .Site.BaseURL }}uploads/agents-img-3.jpg">
                            </figure>
                            <p class="content">"I joined Wallstreet Realty in 2015 because the company's business model was the best fit for me and my career goals. The personal care that I have received from John and his team has been unmatched, which proves that Wallstreet Realty truly places their agents first."</p>
                            <h4 class="title is-5">Art Hernandez</h4>
                        </div>
                        <div>                           
                            <figure class="image is-128x128">
                                <img class="is-rounded" src="{{ .Site.BaseURL }}uploads/agents-img-4.jpg">
                            </figure>
                            <p class="content">"Great company to work with. I've been doing business with Wall Street Realty for over two years now. Their professionalism and stellar customer service is why I continue to work with them. I would highly recommend."</p>
                            <h4 class="title is-5">Nancy Galarza</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>