<div class="section" id="info__section" {{ with .info_background_image }}style="background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8 )),url({{ . }}) no-repeat center;background-size: cover"{{ end }}>
    <div class="container">
        <div class="columns">
            <div class="column is-half info-content">
                {{ if .info_title }}<h2 class="title is-4">{{ .info_title }}</h2>{{ end }}
                {{ if .info_subtitle }}<h4 class="title is-2">{{ .info_subtitle }}</h4>{{ end }}
                {{ if .info_body }}<p class="content">{{ .info_body }}</p>{{ end }}
                {{ with .info_button }}<a href="{{ .info_btn_link }}" class="button" {{ if .info_new_tab}} target="_blank" {{ end }}>{{ .info_btn_label }}</a>{{ end }}
            </div>
        </div>
    </div>
</div>