<div class="section" id="subscription__section" style="{{ safeHTMLAttr (printf "background-color: %s" .background.subscription_background_color) }}">
    <div class="container">
        <div class="columns has-text-centered">
            <div class="column">
                <h4>Subtitle List</h4>
                <h2>Subscribe to our mailing list</h2>
                <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">

<div id="mc_embed_signup">
<form action="https://completemuscletherapy.us19.list-manage.com/subscribe/post?u=e87960211b034900fe321705d&amp;id=b8fdcd116c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e87960211b034900fe321705d_b8fdcd116c" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
            </div>
        </div>
    </div>
</div>