{{ define "main" }}

<div class="section" id="contactpage__container">
    <div class="container">
        <div class="columns has-text-centered">
            <div class="column is-half is-offset-one-quarter">
                {{ if .Params.contactpage_subtitle }}<h4>{{ .Params.contactpage_subtitle }}</h4>{{ end }}
                {{ if .Params.contactpage_title }}<h2>{{ .Params.contactpage_title }}</h2>{{ end }}
                <div class="content">
                    <p>{{ .Params.contactpage_content }}</p>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <hr>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="columns">
                    <div class="column contactpage-form">
                        <div class="field">
                            <label class="label">Name</label>
                            <div class="control">
                              <input class="input" type="text">
                            </div>
                          </div>
                          
                          <div class="field">
                            <label class="label">Email</label>
                            <div class="control has-icons-left has-icons-right">
                              <input class="input" type="email">

                            </div>
                          </div>
                          
                          <div class="field">
                            <label class="label">Message</label>
                            <div class="control">
                              <textarea class="textarea"></textarea>
                            </div>
                          </div>
                          
                          <div class="field is-grouped">
                            <div class="control">
                              <a href="" class="button">Submit</a>
                            </div>
                          </div>
                    </div> <!-- end first column-->
                    <div class="column">
                        <div class="contact-content">
                            <h2>Let's connect</h2>
                            {{ $profilecontact := .Site.Data.profile.primary_contact }}
                            {{ $profileaddress := .Site.Data.profile.address }}
                            <ul>
                                {{ if $profileaddress.disable_address }}
                                {{ else }}
                                <li><i class="fas fa-map-marker-alt"></i>{{ $profileaddress.address }} {{ $profileaddress.city }}, {{ $profileaddress.state }} {{ $profileaddress.zip_code }}</li>
                                {{ end }}
                                <li><i class="fas fa-mobile-alt"></i>{{  $profilecontact.phone_number }}</li>
                                <li><i class="far fa-envelope"></i>{{  $profilecontact.email }}</li>
                            </ul>
                        </div>
                    </div> <!-- end second column-->
                </div>
            </div>
        </div>
    </div>
</div>

{{ end }}